<h1>StaticPages#import</h1>
<p>Find me in app/views/static_pages/import.html.erb</p>

<div id="DetailsImport" class="impForm">
  <%= form_tag import_details_path, multipart: true do %>
    <%= render "layouts/importForm" %>
  <% end %>
</div>
<div id="RabatImport" class="impForm">
  <%= form_tag rabats_import_path, multipart: true do %>
    <%= render "layouts/importForm" %>
  <% end %>
</div>