  <div id="cart" class="col l5 z-depth-2">
    <p>Отобранные товары</p>
    <%= button_to 'Empty cart', cart, method: :delete,
        data: { confirm: 'Are you sure?' } %>
    <table class="hoverable">
      <%= render(cart.line_items) %>
      <tr class="total_line">
        <td colspan="5">Total</td>
        <td class="total_cell right-align"><%= cart.total_price(current_user) %></td>
      </tr>
    </table>
    <%= button_to "Checkout", new_order_path, method: :get %>
  </div>
