<div>
	<%= label_tag("detail_brand_id", "Choose brand name:") %>
	<%= collection_select(  :detail,
                          :brand_id,
                          Brand.all,
                          :id,
                          :name,
                          include_blank: true,
                          id: "xxx") %>
</div>
